{% extends "base.html" %}
{% block title %}
{{ const.name }}
{% endblock %}
{% block customhead%}
<style type="text/css">
img.const {
    margin: auto;
    display: block;
    max-height: 100%;
}
h3, .foot {
    text-align: center;
}
.nextlink {
    float: right;
}
.bottomnav {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.bottomnav a {
    text-decoration: none;
    font-weight: bold;
}
</style>
{% endblock %}
{% block content %}
<h1>{{ const.name }}</h1>
<h3>{{ const.trans }}</h3>
<img class="const" src="https://gitcdn.link/cdn/Stellarium/stellarium-skycultures/master/{{ culture.slug }}/{{ const.img }}">
<div class="bottomnav">
<a href="{{ const.prev }}.html" accesskey=","><</a> 
<a href="{{ const.next }}.html" class="nextlink" accesskey=".">></a></div>
<p class="foot">Constellation art as displayed in the 
<a href="https://stellarium.org/">Stellarium</a> application, 
when culture <a href="index.html">{{ culture.name }}</a> is selected. </p>
{% endblock %}
