# This is a basic workflow to help you get started with Actions

name: Build & Deploy

on:
  push:
    branches: [ main ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3


      - name: Setup Python
        uses: actions/setup-python@v3.1.2
        with:
          python-version: 3.x

      - name: do it
        run: |
          sudo apt libwebp libwebp-dev
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python do.py pub
      - name: Publish
        uses: jsmrcaga/action-netlify-deploy@v2.0.0
        with:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_DEPLOY_TO_PROD: true
          build_directory: public
